body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* display:flexbox;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  /* position: relative; */
  /* z-index: 99;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 17px 10px;
  margin: 100px; */ 
}

.header{
  display: flex;
  flex-direction: column;
  /* margin: 10; */
}

.form{
  margin-top: 2em;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  /* border: #333 solid 2px; */
  box-shadow: 0px 5px 4px 6px rgba(42, 42, 42, 0.116);
  /* position: absolute;
  border: black solid 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.form_group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
input{
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 3px;
  margin-bottom: 31px;
  /* transition: all 250ms ease-in-out; */
}
input{
  outline: none;
  box-shadow: 0px 2.5px 4px 0.2px crimson;
}
.footer{
  /* margin-top: 1em; */
  margin-bottom: 1em;
  /* font-size: large; */
}
.b1{
  padding: 5px;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  border: 2px solid crimson;
  color: crimson;
  transition: all 250ms ease-in-out;
  /* margin-right: 60px; */
}
.b1:hover{
  background-color: crimson;
  color: white;

}
.pfp{
  color: black;
}
.errorHandle{
  color: red;
}
.navbar{
  background-color: crimson;
  overflow: hidden;
}
.main{
  color: white;
  /* background-color: deeppink; */
  float: right;
  text-align: center;
  /* margin-bottom: 30px; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}
.links{
  text-decoration: none;
  color: black;
  font-size: large;
  margin-right: 80px; 
  /* float: right;
  text-align: center; */
}
.links2{
  text-decoration: none;
  color: black;
  float: left;
  margin-top: 10px;
  margin-right: 176px;
  font-size: large;
}
.msg{
  float: left;
  font-size: medium;
}
.links2:hover{
  color: crimson;
}
.links:hover{
  color:crimson;
}
/* .transfer{
  overflow: hidden;
  float: right;
} */
.main:hover{
  /* border: crimson solid 1px;
  background-color: white;
  color: crimson; */
  color: black;
}

